.Formm{
    margin-top: 130px;
    border:2px solid black ;
    width:400px ;
    height: 350px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 2px 2px 1px 1px black ;
}

.inputt{
    width: 330px;
    height: 30px;
    border-radius: 6px 6px 6px 6px;
}

.label{
    margin-top: 80px;
}